<section class="park-info">
  <h1><%= @park.name %></h1>
  <h3><%= @park.price %></h3>
</section>

  <%= @park.name %>'s ride info:</br>
  <% @park.list_rides.each do |ride| %>
    <section class="ride-info">
      <%= ride.name %></br>
    </section>
  <% end %>

  <%= @park.name%>'s average thrill rating: <%= @park.avg_rating.round(1) %>/10